streamlit
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
docker==4.2.1
idna==2.9
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
pprintpp==0.4.0
pycodestyle==2.6.0
pydocstyle==5.0.2
pyflakes==2.2.0
Pygments==2.6.1
pylama==7.7.1
PyYAML==5.3.1
requests==2.24.0
rich==2.2.6
six==1.15.0
snowballstemmer==2.0.0
typing-extensions==3.7.4.2
urllib3==1.25.9
websocket-client==0.57.0